<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Bingo</title>
    <link rel="stylesheet" href="/styleBingo.css">
    <script src="/bingoJs.js" defer></script>
</head>
<body>
    <div id="dane" data-associated-tab='<%= bingoNumbersJSON %>'></div>
    <div class="table-wrapper">
        <%- tableHTML %>
        <p id="resultBingo"></p>
    </div>
</body>
</html>